streamlit
pandas>=1.5
numpy
python-dateutil
google-auth>=2.20.0
google-auth-oauthlib>=1.0.0
google-api-python-client>=2.70.0
requests
requests_oauthlib
oauthlib>=3.2.2
protobuf<4  # avoids many build-time/compat issues
tqdm
openpyxl
